<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
      <testsuite name="Braindump PHP Unit/Integration testing">
        <directory>tests</directory>
      </testsuite>
    </testsuites>
    <!--<logging>
        <log type="coverage-clover" target="build/logs/clover.xml" />
    </logging>-->
</phpunit>